terratowns_endpoint="https://terratowns.cloud/api"
krupa = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/krupa"
  content_version = 2 
}
blood = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/blood"
  content_version = 1 
}